name: docker_publish

on:
  push:
    branches:
    - 'main'
    - 'dev'
    tags:
    - '**'

jobs:
  lint_test:
    uses: babylonchain/.github/.github/workflows/reusable_go_lint_test.yml@5151754256060bf160c411d0784f831f29882106 # v0.13.4
    with:
     run-unit-tests: true
     run-integration-tests: true
     run-lint: true
     
  docker_pipeline:
    needs: ["lint_test"]
    uses: babylonchain/.github/.github/workflows/reusable_docker_pipeline.yml@5151754256060bf160c411d0784f831f29882106 # v0.13.4
    secrets: inherit
    with:
     publish: true